.signup {
  width: 100vw;
  height: 120vh;
  background: rgba(101, 43, 145, 0.5);
  background-image: url('../../img/2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background: rgba(101, 43, 145, 0.5); */
  background-blend-mode: multiply;
  box-shadow: inset 0 0 0 50vw #652b9180;
  margin: auto;
}
.logo {
  padding-bottom: 2%;
}
.signup_container {
  width: 40vw;
  /* height: 100vh; */
  /* height: 200px; */
  margin: auto;
  background: rgba(101, 43, 145, 0.86);
  border-radius: 8px;
  padding-bottom: 2em;
}
.signup_box {
  width: 70%;
  /* height: 70vh; */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signup_input {
  margin-top: 0.5em;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background: rgba(196, 196, 196, 0.5) !important;
  border-radius: 8px;
  padding: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  /* text-outline: 0 0 #000; */
  color: rgba(255, 255, 255, 0.8);
  outline-style: none;
}
PhoneInput {
  background-color: black !important;
  color: black !important;
}
.signup_btn {
  width: 100%;
  height: 50px;
  background: #ffffff;
  border-radius: 8px;
  margin-top: 1em;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #652b91 !important;
}
.signup_text {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 31px;
  color: #ffffff;
  margin-top: 1em;
}
.extra {
  width: 70%;
  margin: auto;
  margin-bottom: 2em;
}
.extraone {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
}
.captcha {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.02em;
  margin-top: 0.5em;
  color: rgba(255, 255, 255, 0.63);
}
@media only screen and (max-width: 600px) {
  .signup {
    max-width: 100vw;
    /* height: 100vh; */
    background: rgba(101, 43, 145, 0.5);
    background-image: url('../../img/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background: rgba(101, 43, 145, 0.5); */
    background-blend-mode: multiply;
    box-shadow: inset 0 0 0 50vw #652b9180;
    /* padding-bottom: 5em; */
  }
  .logo {
    padding-bottom: 2%;
  }
  .signup_container {
    width: 90vw;
    /* height: 70%; */
    /* height: auto; */
    /* margin: auto; */
    margin: auto;
    margin-top: 2rem;
    /* padding-bottom: 3em; */
    background: rgba(101, 43, 145, 0.86);
    border-radius: 8px;
  }
  .signup_text {
    margin-top: 3rem;
  }
}

.signtwo {
  width: 100vw;
  height: 100vh;
  margin: auto;
  /* background: rgba(101, 43, 145, 0.5);
  background-image: url('../../img/2.jpg'); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  box-shadow: inset 0 0 0 50vw #652b9180; */
}
.logo {
  padding-bottom: 2%;
}

.signup_box {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
