.welcome {
  width: 100vw;
  /* height: 100vh; */
  border: none;
  background-color: #e0d5e9;
}
.wrap {
  background-color: #e0d5e9;
}
.welcome_logo {
  /* padding-bottom: 1em; */
  padding: 1em;
  border: none;
}
.content {
  width: 50vw;
  /* height: 80vh; */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 2em;
  margin-bottom: 3em;
}
.content_header {
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: 11px;
  letter-spacing: 0.05em;

  color: #652b91;
}
.welcome_text {
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  line-height: 1.3em;
  text-align: center;

  color: rgba(0, 0, 0, 0.44);
  margin-top: 1.5em;
}
.welcome_btn {
  width: 14em;
  height: 3em;
  left: 455px;
  top: 746px;
  background: #652b91;
  border-radius: 50px;
  margin-top: 1em;
  font-size: larger;
  color: #ffffff;
}
.welcome_text_two {
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  line-height: 47px;
  text-align: center;
  margin-top: 1em;
  color: #652b91;
}
@media only screen and (max-width: 600px) {
  .content {
    width: 80vw;
    /* height: 80vh; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2em;
    margin-bottom: 3em;
  }
  .welcome_logo {
    /* padding-bottom: 1em; */
    padding: 1em;
    border: none;
    background-color: #e0d5e9;
  }
  .welcome_btn {
    width: 9em;
    height: 3em;
    background: #652b91;
    border-radius: 50px;
    margin-top: 1em;
    font-size: 1.5em;
    color: #ffffff;
    padding: 0 0.5em;
  }
}
