.section_one {
  position: relative;
  width: 1350px;
  /* height: 557px; */
  height: 110vh;
  /* left: 0px;
  top: 707px; */
  /* background: rgba(101, 43, 145, 0.92); */
  background-color: #652b91;
}
.section_one_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
.section_one_content h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.section_one_content p {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  /* line-height: 35px; */
  /* letter-spacing: 0.04em; */

  color: #ffffff;
}
.section_one_img {
  /* position: absolute; */
  width: 456px;
  height: 456px;
  margin: 60px;
  background: url('../../img/ayinde.jpg');
  border-radius: 100%;
}
.section_two {
  /* position: absolute; */
  width: 1350px;
  /* height: 557px; */
  height: 100vh;
  /* left: 0px;
  top: 1264px; */

  background: #ffffff;
  align-items: center;
  justify-content: center;
  /* margin-top: 15px; */
}
.section_two h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  letter-spacing: 0.05em;
  color: #652b91;
  margin-bottom: 15px;
}
.section_two p {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  letter-spacing: 0.04em;

  color: #652b91;
}
.section_three {
  /* position: absolute; */
  width: 1350px;
  /* height: 686px; */
  height: 100vh;
  /* left: 0px;
  top: 1821px; */
  /* background: url('../../img/6.jpg') #652b9180; */
  background: url('../../img/3.jpg') rgba(101, 43, 145, 0.5);
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background: rgba(101, 43, 145, 0.5); */
  background-blend-mode: overlay;
  /* box-shadow: inset 0 0 0 50vw #652b91; */
}
.section_three_content {
  display: flex;
  flex-direction: column;
  height: 150vh;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
}
.section_three_text {
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.05em;
}
.section_three_input {
  /* position: absolute; */
  width: 578px;
  height: 75px;
  font-size: 20px;
  padding: 20px;
  /* left: 221px;
  top: 443px; */

  background: #ffffff;
}
.section_three_btn {
  width: 277px;
  height: 75px;
  font-size: 20px;
  background: #652b91;
}
.section_three_icon {
  font-size: 35px;
}
.section_three h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 48px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #ffffff;
}
.section_three p {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.05em;

  color: #ffffff;
}
.device {
  /* position: absolute; */
  width: 100vw;
  /* height: 580px; */
  height: 100vh;
  /* left: 0px;
  top: 2507px; */
  display: flex;
  flex-direction: column;
  background: #ffffff;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #652b91;
  padding-bottom: 1rem;
}
.device_content {
  width: 70vw;
  margin: auto;
}
.device_content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 48px;
  text-align: center;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #652b91;
}
.device_content p {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: 1rem;
  color: #652b91;
}
.device_image {
  color: #652b91;
  width: 80vw;
}
.mobile {
  /* border: 2px solid #652b91; */
  border-right: 1.47px solid #652b91;
  border-top: 1.47px solid #652b91;
  border-left: 1.47px solid #c790f1;
  border-bottom: 1.47px solid #c790f1;
  /* border: 1.47px solid;
  border-image-source: linear-gradient(180deg, #652b91 0%, #c790f1 100%); */
  width: 65px;
  height: 94px;
}
.computer {
  border-right: 1.47px solid #652b91;
  border-top: 1.47px solid #652b91;
  border-left: 1.47px solid #c790f1;
  border-bottom: 1.47px solid #c790f1;
  width: 190px;
  height: 117.83px;
  margin-left: 15px;
  margin-bottom: 1rem;
}
.computer_line {
  width: 229px;
  height: 0px;
  border: 1px solid #652b91;
}
.tv {
  border-right: 1.47px solid #652b91;
  border-top: 1.47px solid #652b91;
  border-left: 1.47px solid #c790f1;
  border-bottom: 1.47px solid #c790f1;
  width: 258px;
  height: 160px;
  margin-left: 15px;
  margin-bottom: 1rem;
}
.tv_line {
  width: 134px;
  height: 0px;
  border: 1px solid #652b91;
}
.device_name {
  margin-top: 1rem;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.05em;
  /* text-align: left; */
}
.example_text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-align: center;
}
.faq {
  /* position: absolute; */
  width: 100vw;
  /* height: 846px; */
  /* height: ; */
  /* left: 0px;
  top: 3087px; */
  color: #ffffff;
  background: #ffffff;
  padding-bottom: 3em;
  padding-top: 3em;
}
.faq_container {
  width: 80vw;
  margin: auto;
  /* margin-top: 3rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faq h1 {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #652b91;
}
.faq_item {
  /* position: absolute; */
  width: 754px;
  height: 55px;
  /* left: 160px;
  top: 3281px; */

  background: #652b91;
  border-radius: 10px;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq_item p {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
  padding: 0.5rem;
  color: #ffffff;
}
@media only screen and (max-width: 600px) {
  .section_one {
    /* position: relative; */
    width: 100vw;
    height: 100vh;
    background: rgba(101, 43, 145, 0.92);
  }
  .section_one_content {
    padding-top: 2em;
    margin-bottom: 2em;
  }
  .section_one_img_cont {
    height: 80%;
  }
  .section_one_img {
    margin-bottom: 20px;
    width: 260px;
    height: 260px;
    /* margin: 60px; */
    /* background: url('../../img/ayinde.jpg'); */
    border-radius: 100%;
  }
  .section_two {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
  }
  .phone_img {
    margin: auto;
  }
  .section_two h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #652b91;
    margin-bottom: 15px;
    margin-top: 1em;
    text-align: center;
  }
  .section_two p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #652b91;
  }
  .section_three {
    /* position: relative; */
    width: 100vw;
    height: 100vh;
    background: url('../../img/3.jpg') rgba(101, 43, 145, 0.5);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background: rgba(101, 43, 145, 0.5); */
    background-blend-mode: overlay;
    /* box-shadow: inset 0 0 0 50vw #652b91; */
  }
  .section_three_content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
  }
  .section_three_text {
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.05em;
  }
  .section_three_input {
    /* position: absolute; */
    width: 50vw;
    height: 40px;
    font-size: 15px;
    padding: 10px;
    /* left: 221px;
  top: 443px; */

    background: #ffffff;
  }
  .section_three_btn {
    width: 40vw;
    height: 40px;
    font-size: 19px;
    background: #652b91;
  }
  .section_three_icon {
    font-size: 35px;
  }
  .section_three h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    line-height: 12px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #ffffff;
  }
  .section_three p {
    font-style: normal;
    font-weight: 500;
    font-size: 2em;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #ffffff;
  }
  .device {
    width: 100vw;
    height: 130vh;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #652b91;
    padding-bottom: 1rem;
  }
  .device_content {
    width: 70vw;
    margin: auto;
  }
  .device_content h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 30px;
    text-align: center;
    /* identical to box height */
    margin-top: 3em;
    letter-spacing: 0.05em;

    color: #652b91;
    margin-bottom: 1em;
  }
  .device_content p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #652b91;
    margin-bottom: 1em;
  }
  .device_image {
    color: #652b91;
    width: 80vw;
  }
  .mobile {
    /* border: 2px solid #652b91; */
    border-right: 1.47px solid #652b91;
    border-top: 1.47px solid #652b91;
    border-left: 1.47px solid #c790f1;
    border-bottom: 1.47px solid #c790f1;
    /* border: 1.47px solid;
  border-image-source: linear-gradient(180deg, #652b91 0%, #c790f1 100%); */
    width: 65px;
    height: 94px;
    margin-top: 2rem;
  }
  .computer {
    border-right: 1.47px solid #652b91;
    border-top: 1.47px solid #652b91;
    border-left: 1.47px solid #c790f1;
    border-bottom: 1.47px solid #c790f1;
    width: 190px;
    height: 117.83px;
    margin-left: 15px;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  .computer_line {
    width: 229px;
    height: 0px;
    border: 1px solid #652b91;
  }
  .tv {
    border-right: 1.47px solid #652b91;
    border-top: 1.47px solid #652b91;
    border-left: 1.47px solid #c790f1;
    border-bottom: 1.47px solid #c790f1;
    width: 258px;
    height: 160px;
    margin-left: 15px;
    margin-bottom: 1rem;
    margin-top: 2em;
  }
  .tv_line {
    width: 134px;
    height: 0px;
    border: 1px solid #652b91;
  }
  .device_name {
    margin-top: 1rem;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.05em;
    /* text-align: left; */
  }
  .example_text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-align: center;
    /* margin-bottom: 1em; */
  }
  .faq {
    /* position: relative; */
    width: 100vw;
    /* height: 120vh; */
    /* left: 0px;
    top: 3087px; */
    color: #ffffff;
    background: #ffffff;
    padding-bottom: 3em;
  }
  .faq_container {
    width: 80vw;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .faq h1 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    /* line-height: 82px; */
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #652b91;
  }
  .faq_item {
    /* position: absolute; */
    width: 100%;
    height: 4.5em;
    /* left: 160px;
    top: 3281px; */

    background: #652b91;
    border-radius: 10px;
    margin-top: 2.5rem;
    padding: 1em;
  }
  .faq_item p {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    /* line-height: 20px; */
    letter-spacing: 0.05em;
    padding: 0.5em;
    color: #ffffff;
  }
}
