.nav_color {
  color: #652b91fa;
  font-weight: 700;
}
.home_header {
  /* width: 1350px; */
  width: 100vw;
  height: 120vh;
  /* height: 1000px; */
  background: url('../../../img/new/gobinew.jpg') #652b9180;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* background: rgba(101, 43, 145, 0.5); */
  background-blend-mode: multiply;
  box-shadow: inset 0 0 0 50vw #652b9180;
}
.home_header_content {
  width: 60vw;
  display: flex;
  flex-direction: column;
  height: 60vh;
  padding-left: 5em;
  padding-top: 9em;
  /* align-items: center; */
  /* justify-content: center; */
  /* row-gap: 40px; */
}
.top-10 {
  height: 100px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 2em;
}
.top-10-box {
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 5px;
  color: #e82727;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin-right: 2rem;
}
.box_text {
  display: inline-block;
}
.top-10-box span {
  /* display: inline-block; */
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-size: large;
  text-align: center;
}
.top-10-box + span {
  font-size: 35px;
  font-stretch: narrower;
  margin-top: 0;
  padding: 0;
  margin: 0px;
}
.top_10_text {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;

  color: #ffffff;
}
.buttons {
  display: flex;
}
.play_btn {
  background: #ffffff;
  border-radius: 5.90278px;
  font-style: normal;
  font-weight: normal;
  font-size: 17.7083px;
  line-height: 21px;
  /* identical to box height */
  color: black;
  padding: 0.8em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-right: 2em;
}
.info_btn {
  width: 277px;
  height: 75px;
  font-size: 25px;
  background: #652b91;
}

.home_header_text {
  font-family: 'Reggae One', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 7em;
  line-height: 203px;
  letter-spacing: -0.17em;

  color: #ffffff;
}
.home_header_input {
  /* position: absolute; */
  width: 578px;
  height: 75px;
  font-size: 20px;
  padding: 20px;
  /* left: 221px;
  top: 443px; */

  background: #ffffff;
}
.home_header_icon {
  font-size: 35px;
}

@media only screen and (max-width: 600px) {
  home_header {
    width: 100vw;
    background: url('../../../img/7.jpg') #652b9180;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    box-shadow: inset 0 0 0 50vw #652b9180;
  }
  .home_header_content {
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin-left: 0;
    padding-left: 0;
    /* height: 80vh; */
    align-items: center;
    justify-content: center;
    /* row-gap: 40px; */
  }
  .home_header_text {
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: -0.13em;
    text-align: center;

    font-family: 'Reggae One', sans-serif;
    color: #ffffff;
  }
  /* .home_header_text {
    font-style: normal;
    font-weight: normal;
    font-size: 7em;
    line-height: 203px;
    letter-spacing: -0.17em;

  } */
  .home_header_input {
    /* position: absolute; */
    width: 50vw;
    height: 40px;
    font-size: 15px;
    padding: 10px;
    background: #ffffff;
  }
  /* .home_header_up {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  .home_header_btn {
    width: 40vw;
    height: 40px;
    font-size: 19px;
    background: #652b91;
  }
  .top-10 {
    /* height: 100px; */
    width: 80vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: auto;
    margin-bottom: 2em;
  }
  .top-10-box {
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 5px;
    color: #e82727;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin-right: 2rem;
  }
  .box_text {
    display: inline-block;
  }
  .top-10-box span {
    /* display: inline-block; */
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-size: large;
    text-align: center;
  }
  .top-10-box + span {
    font-size: 35px;
    font-stretch: narrower;
    margin-top: 0;
    padding: 0;
    margin: 0px;
  }
  .top_10_text {
    font-size: 2em;
    line-height: 1em;
    letter-spacing: 0.05em;

    color: #ffffff;
  }
  .buttons {
    display: flex;
    width: 96%;
    margin: auto;
  }
  .play_btn {
    width: 9em;
    background: #ffffff;
    border-radius: 5.90278px;
    font-style: normal;
    font-weight: normal;
    /* font-size: 17.7083px; */
    font-size: 25px;
    line-height: 21px;
    color: black;
    padding: 0;
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-right: 0.5em;
  }
  .info_btn {
    width: 277px;
    height: 75px;
    font-size: 25px;
    background: #652b91;
  }
  .home_header_icon {
    /* font-size: 15px; */
    margin-right: 0.5em;
  }
}
