body {
  margin: 0;
  overflow-x: hidden;
}
.app {
  /* background-color: #111; */
  color: #fff;
  /* overflow: hidden; */
}
@media only screen and (max-width: 600px) {
  .app {
    /* overflow: hidden; */
  }
}
